.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.rowBg {
  background: rgb(195, 0, 215);
  background: linear-gradient(
    180deg,
    rgba(195, 0, 215, 1) 25%,
    rgba(0, 0, 0, 0.9867297260701156) 99%
  );
  height: 5rem;
}

.contStyle {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.9867297260701156) 32%,
    rgba(195, 0, 215, 1) 83%
  );
  height: 100vh;
  color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
}

.pTxt {
  font-size: 25px;
  color: purple;
}

.rowStyle {
  background-color: black;
}


.inputStyle{
  margin-top: 10rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
